/*ALL BUTTON MOVING*/

button{
    float:left;
    margin:10px;
    }
    /*COLOSE BUTTON*/
    
    /*BUTTOM IMAGE SIZE CHANGING*/
    
    .blue-logo{
    width:50px;
    
    }
    /*CLOSE SIZE CHANGING*/
    
    /*ENTIRE BODY PART*/
    body {
      padding: 25px;
      background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2xGrygQ7xbXFearBlxtFGqU9BtOjc6lNLog&usqp=CAU);
      color: black;
    
    }
    h1{
    font-size: 45px;
    color:red;
    
    }
    .off-btn{
    width:40px;
    }
    
